name: Hyprland Headless (Arch)

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build-and-run:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
    steps:
      - name: Update System & Install Dependencies
        run: |
          pacman -Syu --noconfirm
          pacman -S --noconfirm \
            hyprland

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Hyprland Headless
        run: |
          export HOME=/home
          mkdir -p $HOME

          mkdir -p /tmp/hyprland-runtime
          export XDG_RUNTIME_DIR=/tmp/hyprland-runtime
          chmod 700 $XDG_RUNTIME_DIR
          
          mkdir -p $HOME/.cache/hyprland
          mkdir -p /tmp/hypr
          
          export WLR_BACKENDS=headless
          export WLR_LIBINPUT_NO_DEVICES=1
          export WLR_RENDERER=pixman

          Hyprland --i-am-really-stupid 2>&1 || echo "Hyprland exited with code $?"

          cat /home/.cache/hyprland/hyprlandCrashReport*.txt